.current__container {

    padding-left: .5em;
    margin-top: .25rem;
}

.current__header--label {

    padding-bottom: .25em;
    color: #ffffff;
}

.current__rightNow, .current__hourly--wrapper {

    font-size: calc(12px + 2vmin);
}
.current__rightNow {
    
    background-color: #f9f9f9;
    padding: .25em 0 .25em .5em;
    border: 2px solid #0da6ff;
    border-radius: 5px;
    margin-top: .25em;
}

.current__rightNow span {

    font-style: italic;
    font-size: calc(10px + 2vmin);
}

.current__rightNow--label {
    
    font-weight: 500;
    border-bottom: 1px solid #0da6ff;
    margin-bottom: .25em;
}

.current__rightNow--flex {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current__temps--wrapper {
    display: flex;
    align-items: center;
}

.current__temps--wrapper div:first-of-type {
    margin-right: .25rem;
}

.current__rise--container {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin-left: -.75em;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
}

.current__hourly--wrapper {

    display: flex;
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-top: .25em;
    border-radius: 5px;
    min-height: 60px;
}
.current__hourly-appear {
    
    opacity: 0.01;
}
  
.current__hourly-appear.current__hourly-appear-active {
    
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.current__hourly-enter {
    
    opacity: 0.01;
}
  
.current__hourly-enter.current__hourly-enter-active {
    
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}
  
.current__hourly-leave {
    
    opacity: 1;
}
  
.current__hourly-leave.current__hourly-leave-active {
    
    opacity: 0.01;
    transition: opacity 300ms ease-out;
}