.hourly__wrapper {

    display: flex;
    align-items: center;
    background-color: #acacbb;
    padding: .15em;
}

.hourly__container {

    display: flex;
    flex: 3;
    flex-direction: column;
    min-height: 60px;
    border: 1px solid #ffffff;
    border-radius: 2px;
}

.hourly__header {

    font-weight: 500;
    padding-left: .5em;
}

.hourly__detail {

    padding-left: .5em;
    padding-right: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}