.alert__wrapper {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    border: 1px solid #0da6ff;
    border-radius: 5px;
    padding: .15em;
    margin-top: .25em;
}

.alert__container {

    display: flex;
    flex: 3;
    flex-direction: column;
}

.alert__header {

    font-weight: 500;
    padding-left: .5em;
    padding-bottom: .5em;
}

.alert__detail {

    padding-left: .5em;
}

.alert__detail span {

    padding-right: .25em;
    text-transform: uppercase;
}