.tile__wrapper {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    border: 1px solid #0da6ff;
    border-radius: 5px;
    padding-top: .5em;
    margin-top: .25em;
}

.tile__container {

    display: flex;
    flex: 3;
    flex-direction: column;
}

.tile__header {

    font-weight: 500;
    padding-left: .5em;
    padding-bottom: .5em;
}

.tile__detail {

    padding-left: .5em;
    margin-bottom: -.5rem;
}

.tile__detail span {

    padding-right: .25em;
}

.tile__rise--container {

    display: flex;
    align-items: center;
    font-size: calc(10px + 2vmin);
    margin-left: -.75em;
}

.tile__img--container {

    flex: .5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile__img {

    color: white;
}